.user__block {
  position: relative;
  height: 366px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 0 20px;
}

.user__background {
  position: relative;
  max-width: 100%;
  height: 252px;
  z-index: 0;
}

.user__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user__info {
  width: 100%;
  height: 139px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  border-radius: 12px 12px 0 0;
  z-index: 1;
  padding: 20px;
}

.user__avatar {
  position: absolute;
  top: -60%;
  left: 15px;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: 5px solid white;
  border-radius: 50%;
}

.user__textBlock {
  margin: 0 0 0 200px;
}

.user__name {
  font-size: 21px;
  margin: 0 0 10px;
}

.user__status {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 392px;
  font-size: 13px;
  margin: 0 0 10px;
}

.user__statusLink {
  text-decoration: none;
  color: #2a5885;
}

.user__statusLink:hover {
  text-decoration: underline;
}

.user__map {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 20px;
  height: 20px;
}

.user__mapIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user__mapText {
  text-decoration: none;
  color: #626d7a;
  font-size: 12px;
}

.user__mapText:hover {
  text-decoration: underline;
}
