.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.item {
	display: flex;
	gap: 20px;
	margin: 0 0 20px;
}

.photo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.info {
	padding: 15px 0 0 0;
}

.link {
	display: block;
	text-decoration: none;
	color: #2a5885;
	font-size: 13px;
	margin: 0 0 10px;
}

.name {
	font-weight: bold;
}
