.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}

.header__container {
  width: 1076px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  letter-spacing: 1.2px;
  font-weight: bold;
  padding: 0 10px;
  transition: .4s all;
}

.header__logo:hover {
  background: #ededed;
}

.header__logoImg {
  width: 34px;
  height: 34px;
}

.header__logoPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__logoName {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
