.row {
  display: flex;
  gap: 20px;
}

.list {
  box-sizing: border-box;
  width: 550px;
  height: auto;
  background: white;
  padding: 0;
  margin: 0;
}

.message {
  list-style-type: none;
}

.message:hover {
  background: rgba(174, 183, 194, 0.12);
}

.link {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 14px;
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: black;
  text-decoration: none;
  padding: 10px 0 0 20px;
  cursor: pointer;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.body {
  width: 88%;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 0 15px;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 13px;
  margin: 3px 0 7px;
}

.text {
  width: 380px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap:break-word;
}

.date {
  font-size: 13px;
  position: absolute;
  right: 30px;
  top: 10px;
  color: #b1b1b1;
}
